.hero {
	height: 100vh;
	background-image: url(../img/hero_bg.png);
}

.hero__body {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: calc(100% - 100px);
	padding: 10px 0px 0px;
}

.hero__left {
	width: 50%;
	padding: 40px 0px 0px;
}

.hero__right {
	width: 50%;
}

.hero__info {
	margin-bottom: 50px;
}

.hero__actions {
	margin-bottom: 50px;
}