h1, h2, h3, h4, h5, h6, p {
	color: var( --c-white);
}

.title {

}

.title.-s {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 15px;
}

.title.-l {
	font-size: 60px;
	margin-bottom: 30px;
}

.text {
	font-size: 18px;
	opacity: .8;
}